.header {
    width: 100%;
    height: 5vw;
    background-color: rgb(140, 140, 140);
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
}

/* LOGO */
.logo {
    display: flex;
    width: 40%;
    height: 100%;
    align-items: center;
    border-radius: 0 30px 30px 0;
    background-color: rgb(212, 212, 212);
}

.logo img {
    justify-content: start;
    margin-left: 10%;
}

.logo h1 {
    padding-left: 5%;
    font-size: calc(18px + 1vw);
    font-family: 'Indie Flower', cursive;
}

/* MENU */
.menu {
    width: 60%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;

}

.menu div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 60%;
}

.menu div a {
    text-decoration: none;
    font-size: calc(14px + 0.5vw);
    color: black;
    font-weight: 800;
    font-family: 'Indie Flower', cursive;
}

.menu div:hover {
    background-color: rgb(212, 212, 212);
    border-radius: 15px;
    transform: scale(1.1);
    transition: all ease-in 300ms;
}

/* RESPONSIVE */

/* Celulares */
@media only screen and (max-width:767px) {
    .header {
        height: 20vw;
    }

    .logo {
        width: 30%;
    }

    .logo img {
        margin-left: 5vw;
    }

    .logo h1 {
        display: none;
    }

    .menu {
        height: 100%;
        width: 70%;
        text-align: center;
        align-items: center;
        justify-content: space-around;
    }

    .menu div {
        height: 80%;
        width: 35%;
    }
}


/* Tablets */
@media only screen and (min-width:768px) and (max-width:1024px) {
    .header {
        height: 10vw;
    }

    .logo {
        width: 30%;
    }

    .logo h1 {
        display: none;
    }

    .logo img {
        padding-left: 5vw;
    }

    .menu {
        width: 70%;
    }
}

/* Laptop */
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
    .header {
        height: 10vh;
    }
}