.cuerpo-inicio {
    height: 74vh;

}

.formulario-username {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37vw;
}

.grupo-formulario {
    width: 60%;
    height: 20vw;
    background-color: rgb(77, 77, 77);
    display: grid;
    border-radius: 40px;
}

.titulo-formulario {
    all: initial;
    font-size: calc(18px + 0.8vw);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    text-decoration: underline;
}

.parrafo-formulario {
    all: initial;
    font-size: calc(16px + 0.5vw);
    padding-left: 3vw;
    color: white;
}

#input-username {
    all: initial;
    display: flex;
    text-align: center;
    height: 30%;
    width: 60%;
    border-radius: 30px;
    font-size: calc(12px + 0.5vw);
    background-color: rgb(212, 212, 212);
    border: none;
}

.boton-formulario {
    all: initial;
    text-align: center;
    width: 20%;
    height: 40%;
    border-radius: 30px;
    font-size: calc(16px + 0.2vw);
    background-color: rgb(212, 212, 212);
    border: none;
    margin-left: 40%;
    margin-top: 2%;
}

.boton-formulario:hover {
    background-color: rgb(28, 28, 28);
    color: white;
    transition: all ease 300ms;
}

.ingresar-usuario {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* RESPONSIVE */

/* Celular */
@media only screen and (max-width:767px) {
    .cuerpo-inicio {
        height: 75vh;
    }

    .formulario-username {
        height: 75vh;
    }

    .grupo-formulario {
        height: 45vh;
        width: 90%;
    }

    .ingresar-usuario {
        display: grid;
    }

    #input-username {
        margin-right: 15vw;
        width: 100%;
        height: 60%;
    }

    .boton-formulario {
        margin-left: 30%;
        margin-top: 10%;
        width: 40%;
    }
}

/* Tablet */
@media only screen and (min-width:768px) and (max-width:1023px) {
    .cuerpo-inicio {
        height: 72vh;
    }

    .formulario-username {
        height: 72vh;
    }

    .grupo-formulario {
        height: 45vh;
    }

    .ingresar-usuario {
        display: grid;
    }

    #input-username {
        margin-right: 15vw;
        width: 100%;
        height: 60%;
    }

    .boton-formulario {
        margin-left: 30%;
        margin-top: 10%;
        width: 40%;
    }
}